= form_with(url: "#", method: "post", id: "show_light_controller_form") do |f|
	.form-row
		.col
			.list-group.light_controller_status
	.form-row.mt-5
		.col
			%label{for: "remote_base_url"} Remote Base URL
			.input-group
				.input-group-prepend
					%a.input-group-text.remote-base-url{ href: "javascript:void(0);", onclick: "light_controller_toggle_device('remote', false, active_controller)" }
						%svg.feather
							%use{"xlink:href" => image_path("feather-sprite.svg#server")}
							%title Default stored on the server
					%a.input-group-text.device-remote-base-url{ href: "javascript:void(0);", onclick: "light_controller_toggle_device('remote', true, active_controller)" }
						%svg.feather
							%use{"xlink:href" => image_path("feather-sprite.svg#hard-drive")}
							%title Override stored on local device
					%span.input-group-text https://
				=f.text_field :remote_base_url, class: "form-control"
				.input-group-append
					%button.btn.btn-secondary.loader{ id: "remote_base_url_btn", onclick: "update_base_url(active_controller, 'remote', device_remote, $('#remote_base_url').val(), true)" } Save
	.form-row.mt-3
		.col
			%label{for: "local_base_url"} Local Base URL
			.input-group
				.input-group-prepend
					%a.input-group-text.local-base-url{ href: "javascript:void(0);", onclick: "light_controller_toggle_device('local', false, active_controller)" }
						%svg.feather
							%use{"xlink:href" => image_path("feather-sprite.svg#server")}
							%title Default stored on the server
					%a.input-group-text.device-local-base-url{ href: "javascript:void(0);", onclick: "light_controller_toggle_device('local', true, active_controller)" }
						%svg.feather
							%use{"xlink:href" => image_path("feather-sprite.svg#hard-drive")}
							%title Override stored on local device
					%span.input-group-text https://
				=f.text_field :local_base_url, class: "form-control"
				.input-group-append
					%button.btn.btn-secondary.loader{ id: "local_base_url_btn", onclick: "update_base_url(active_controller, 'local', device_local, $('#local_base_url').val(), true)" } Save
	.form-row.mt-5
		.col Power On Configuration
	.form-row.mt-3
		.col-10
			.row
				.col{ id: "light-config-power-on" }
					.progress
						.progress-bar.progress-bar-striped.progress-bar-animated.bg-dark{style: "width:100%"}
		.col-sm-2.mt-3.mt-sm-0
			.btn-group{ role: "group" }
				.btn-group{ role: "group" }
					%button.btn.btn-secondary.dropdown-toggle{ id:"dropdownMenuButton", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" } Edit
					.dropdown-menu{ "aria-labelledby" => "dropdownMenuButton" }
						%a.dropdown-item{ href: "javascript:void(0);", onclick: "update_all_color(\"power-on-config-\", [255, 255, 255] )" } All White
						%a.dropdown-item{ href: "javascript:void(0);", onclick: "update_all_color(\"power-on-config-\", [255, 241, 224] )" } All Off-White
						%a.dropdown-item{ href: "javascript:void(0);", onclick: "update_all_color(\"power-on-config-\", [0, 0, 0] )" } Off
				%button.btn.btn-secondary.loader{ disabled: true, id: "power_config_save" } Save
	.form-row.mt-5
		.col Switch Configurations
	.form-row.mt-3
		.col-10
			.row
				.col{ id: "light-config-switch" }
					.progress
						.progress-bar.progress-bar-striped.progress-bar-animated.bg-dark{style: "width:100%"}
		.col-sm-2.mt-3.mt-sm-0
			.btn-group{ role: "group" }
				%button.btn.btn-secondary{ id: "switch_config_new", onclick: "new_switch_config()" } New
				%button.btn.btn-secondary.loader{ disabled: true, id: "switch_config_save" } Save
	
