/* GENERAL overrides */
$body-color: #ffffff;

body {
	background-color: #6c757d;
	color: $body-color;

}

/* OVERRIDES for the navbar */
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0;
 }
 .dropdown-toggle::after {
 	display: none;
 }
 #settingsButton {
 	background-color: transparent;
 	color: rgba(255, 255, 255, 0.5);
 	border: 0;
 }
 .nav-pills .nav-link.active {
 	background-color: transparent;
 	border-bottom: solid 3px;
 	border-radius: 0;
 }

 /* DASHBOARD overrides */
 .jumbotron {
  color: black;
  background-image: url(asset-path("bg1.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* SETTINGS OVERRIDES */
.settings-light-controllers .list-group-item {
  color: #343a40 !important;
}

.settings-light-controllers .badge {
  font-size: 0.25rem;
}

.active {
  background-color: $dark;
  color: $light;
}

/* UI OVERRIDES */
.card {
  background-color: #343a40;
}

.modal-content {
  color: #343a40 !important;
}

 /* icons from feather icons: https://feathericons.com/ */
 .feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* LIGHT CONTROLLER UI */
.color-picker {
    width:          25px;
    height:         25px;
    padding:        1px;
    border:         1px solid #ccc;
    display:        block;
    position:       relative;
    z-index:        0;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}

.color-picker-modal {
    background:     #EFEFEF;
    height:         150px;
    width:          150px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    display:        none;
    border:         1px solid #ccc;
    z-index:        10;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

.color-picker-edit {
    width:          25px;
    height:         25px;
    padding:        1px;
    border:         1px solid #ccc;
    display:        block;
    position:       relative;
    z-index:        0;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}

canvas {
  z-index: 200; 
}

.col-light {
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  border-right: 1px solid $secondary;
  padding: 2px;
}

.col-light:first-of-type {
  border-left: 1px solid $secondary;
}

.light {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 25%;
}

/* OTHER UI */
.loader {
  width: 4em;
}

.loading {
}

.status-error {
  background-color: $danger;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-warn {
  background-color: $warning;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-info {
  background-color: $primary;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-new {
  background-color: $primary;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-success {
  background-color: $success;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

